<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Random Numbers</title>
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
<h1>Random Number Generator</h1>
<main id="content">

    <!--randomly generates a list of numbers between 1 & 69 using a foreach loop-->
    <section th:each="num:${nums}" class="number">
        <p th:text="${num}"></p>
    </section>

    <!--randomly generates a number between 1 & 20-->
    <section class="number">
        <p th:text="${num1}"></p>
    </section>
</main>
</body>
</html>